

#RackYourLook_each-slide-effect > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 254px;
  }
  #RackYourLook_each-slide-effect:hover{
    cursor: pointer;
    opacity: 1;
}
.eac-slid-effect {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}
  .RackYourLook {
    text-align: center;
  }
  #RackYourLook_each-slide-effect span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
  }